.certs-header {
    font-size: 40px;
    line-height: 1.1;
    font-family: "Google Sans Regular";
    text-align: center;
  }
  .main-certi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .certs-body-div {
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  @media (max-width: 1000px) {
    .certs-header {
      font-size: 35px;
    }
    .certs-body-div {
      margin-top: 20px;
      flex-direction:column;
      flex-flow: wrap;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 20px;

    }
  }
  
  @media (max-width: 768px) {
    .main-certi{
      width: 100%;
    }
    .certs-body-div{
      width: 100%;
      margin-top: 20px;
      flex-direction:column;
      flex-flow: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

    }
  
    .certs-header {
      font-size: 30px;
    }
  }